<div class="contenedor">
<h1 class="form-rec">formulario Reactivo</h1>
<form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
    <label>Nombre:</label>
    <input formControlName="nombre" type="text" />
    <br />
    <label>Usuario:</label>
    <input formControlName="usuario" type="text" />
    <br />
    <label>Email:</label>
    <input formControlName="email" type="email" />
    <div *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').touched ">Es necesario introducir el Email</div>
    <br />
    <label>Contraseña:</label>
    <input formControlName="clave" type="password" />
    <br />
    <button [disabled]="signupForm.invalid" type="submit">Registrarse</button>
</form>
</div>