.contenedor{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
    text-align: center;
    
}



.form-rec{
    text-align: left;
    
}

@media screen and (max-width: 800px){
    .contenedor{
        background: chartreuse;
    }
    .form-rec{
        text-align: center;
        
    }
}

@media screen and (max-width: 400px){
    .contenedor{
        width: 100%;
        text-align: center;
    }

}

/*my css3*/